.reservationsContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.title {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px green;
    flex: 1;
}

.header {
    display: flex;
    width: 100%;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
}

.calendarContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #a5aa9d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.addButton {
    color: black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}

.addButton:hover {
    color: #485921;
}